<p style="color: green"><%= notice %></p>

<h1><%= @assignment.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @assignment.due_date %>
</p>

<div>
  <%= link_to 'Edit', edit_course_assignment_path(@course, @assignment) %> |
  <%= link_to 'Back to Assignments', course_assignments_path(@course) %>
</div>