<h1>Courses</h1>

<% @courses.each do |course| %>
  <div>
    <h2>Name: <%= course.name %></h2>
    <p>Description: <%= course.description %></p>
    <%= link_to 'Show this course', course %>
    <%= link_to 'View Assignments', course_assignments_path(course) %>
  </div>
<% end %>

<%= link_to "New course", new_course_path %>