<p style="color: green"><%= notice %></p>

<h1><%= @course.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %> |
  <%= link_to "View Assignments", course_assignments_path(@course) %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>
