<!DOCTYPE html>
<html>
  <head>
    <title>School System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to 'School System', root_path, class: 'navbar-brand' %>
        <div class="navbar-nav">
          <%= link_to 'Courses', courses_path, class: 'nav-item nav-link' %>
          <%= link_to 'Students', students_path, class: 'nav-item nav-link' %>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>